.intro__list-item {
	font-family: "Inter-Regular", Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

@media screen and (max-width: 768px) {
	.intro__list-item {
		font-family: "Inter-Bold", Arial, sans-serif;
	}
}