.lead__image {
	width: 984px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

@media screen and (max-width: 1024px) {
	.lead__image {
		width: calc(100% - 96px);
	}
}

@media screen and (max-width: 768px) {
	.lead__image {
		width: 100%;
	}
}